<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>

    <meta charset="utf-8">
    <title>Test test com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'for_index.css' %}" rel="stylesheet">

</head>

<body>
<nav class="navbar-static-top  navbar-inverse" style='position: static; top: 0px;'>
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'index' %}">Change this</a>
    </div>
    <div>
        <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
            <li><a href='#'>{{ user.username }}</a></li>
            <li><a href='{% url "logout" %}'>Logout</a></li>
        {% else %}
            <li><a href='{% url "login" %}'>Login</a></li>
        {% endif %}
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
    </div>
</nav>    

<div class="container bootdey">
    <div class="col-md-3">
        <section class="panel">
            <header class="panel-heading">
                Category's
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                    {% for category in g_categorys %}
                    <li>
                        <a href="{{ category.get_absolute_url }}"><i class="fa fa-angle-right"></i> {{ category.name }}</a>
                        {% for sub_category in category.get_relevant_categorys %}
                            <ul class="nav">
                                <li><a href="{{ sub_category.get_absolute_url }}">{{ sub_category.name }}</a></li>
                            </ul>
                        {% endfor %}

                    </li>
                    {% endfor %}

                </ul>
            </div>
        </section>
   </div>
        {% block content %}
    <div class="col-md-9">
            <!-- <section class="panel">
                <div class="panel-body">
                    <div class="pull-right">
                        <ul class="pagination pagination-sm pro-page-list">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </section> -->

        <div>
            <h1 style='font-size: 50px;' class='panel-body text-center'>Latest products</h1>
        </div>
        <div class="row product-list">
            {% for product in products %}
            <div class="col-md-4">
                <section class="panel">
                    <div>
                        <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" /></a>
                        <!-- <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a> -->
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="{{ product.get_absolute_url }}" class="pro-title">
                                {{ product.name }}
                            </a>
                        </h4>
                        <p class="price">{{ product.price }}$</p>
                    </div>
                </section>
            </div>
            {% endfor %}

        </div>
    </div>
        {% endblock %}
</div>

<!-- <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"> -->
	
</script>
</body>
</html>
