{% extends 'index.html' %}
{% block content %}
{% include 'categorys_left.html' %}
<div class="container bootdey">
<div class="col-md-9">
<section class="panel">
      <div class="panel-body">
          <div class="col-md-6">
              <div class="pro-img-details">
                  <img src="{{ product.image.url }}" alt="">
              </div>
          </div>
          <div class="col-md-6">
              <h2>
                      {{ product.name }}
              </h2>
              <p>
                  {{ product.description }}
              </p>
              <div class="product_meta">
                  <span class="posted_in">
                       <strong>Categories:</strong> 
                       <a rel="tag" href="{{ product.category.get_absolute_url}}">{{ product.category }}</a>.
                  </span>
              </div>
              <div>
                <h3>Specifications</h3>
                <table class="table">
                    {% for key, value in spec.items  %}
                    <tr>
                        {% if key == "Concentration" %}
                            <td>{{key}}</td>
                            <td>{{value}}%</td>
                        {% else %}
                            <td>{{key}}</td>
                            <td>{{value}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
              </div>
              <div class="m-bot15"> <strong>Price : </strong> <span class="pro-price">${{ product.price }}</span></div>
              <div class="form-group">
                  <label>Quantity</label>
                  <input type="quantiy" placeholder="1" class="form-control quantity">
              </div>
              <p>
                  <a href='{% url "add_to_cart" product.slug product.category.slug %}'><button class="btn btn-round btn-danger" type="button"><i class="fa fa-shopping-cart"></i> Add to Cart</button></a>
              </p>
          </div>
      </div>
  </section>
  </div>
  </div>

{% endblock %}
