{% extends 'base.html' %}
{% block content %}

<table class="table">
    <tr>
        <th>Username</th>
        <th>{{ user.username }}</th>
    </tr>
    <tr>
        <th>Phone</th>
        <th>{{ user.customer.phone }}</th>
    </tr>
    <tr>
        <th>Address</th>
        <th>{{ user.customer.address }}</th>
    </tr>
</table>

{% for order in orders %}
    <hr style='border-top: 3px solid rgba(0, 0, 0, 0.1);'>
    <h3>Order for person: {{order.first_name}}</h3>
    <p>Status: {{order.get_status_display}}</p>
    <p>Price: {{order.cart.final_price}}$</p>
    <p>Amount of products: {{order.cart.final_amount}}</p>
    <p>Address: {{order.address}}</p>
    <p>Phone: {{order.phone}}</p>
    <p>Created: {{order.created}}</p>
{% endfor %}

{% endblock %}
